<!DOCTYPE html>
<html>
<head>
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/css/tictactoe.css" type="text/css"></link>
  <script src="/js/tictactoe.js" type="text/javascript"></script>
</head>
<body>
  <h1>Welcome to Tic Tac Toe!</h1>
  <h2>Choose game mode</h2>
  <button class="button-mode" id="button-mode1" onclick="ButtonClickMode1()">1 Player (Human vs Computer)</button>
  <br/>
  <button class="button-mode" id="button-mode2" onclick="ButtonClickMode2()">2 Players (Human vs Human)</button>
</body>
</html>